{% extends 'core/base.html' %}
{% block content %}
 <div class="jumbotron">
    <h2>Welcome to Matterllo</h2>
    <p>Trusted by millions, Trello is the visual collaboration tool that creates a shared perspective on any project.</p>
    <p>Matterllo allows you to stay on top of the progress of any project by sending updates to Mattermost channels when activity occurs on Trello cards, lists, and boards.</p>
    <p>Easily customize the types of alerts you want to receive in Mattermost, in order to bring the level of perspective you need.</p>
    <p><a class="btn btn-lg btn-primary" href="https://trello.com/1/authorize?expiration=never&name=Matterllo&scope=read&callback_method=fragment&response_type=fragment&return_url={{ returnURL }}&key={{ apiKey }}" role="button">Login with Trello</a></p>
  </div>

{% endblock %}
